node_modules/**
src/**
test/**
.github/**
*.code-workspace
*.log
package-lock.json
tsconfig.json
esbuild.js
README.VSCodeExt.md
README.md
coverage/**
nyc.config.js
/.vscode/**
.vscode/**.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
tmp_vsix_extract/**
